{% extends "app/layout.html" %} {% block content %}

<!-- Breadcrumbs Section-->
<section class="section breadcrumb-wrapper bg-primary">
  <div class="shell">
    <h1>Gallery</h1>
  </div>
</section>

<!-- Grid Portfolio Section-->
<section class="section-lg bg-white text-center">
  <div class="shell">
    <!-- Isotope Filters-->
    <div class="col-lg-12">
      <div class="isotope-filters isotope-filters-horizontal">
        <button
          class="isotope-filters-toggle button button-sm button-primary"
          data-custom-toggle="#isotope-filters"
          data-custom-toggle-disable-on-blur="true"
        >
          Filter<span class="caret"></span>
        </button>
        <ul class="isotope-filters-list" id="isotope-filters">
          <li>
            <a href="/gallery/2014">2014</a>
          </li>
          <li>
            <a href="/gallery/2015">2015</a>
          </li>
          <li>
            <a href="/gallery/2016">2016</a>
          </li>
          <li>
            <a href="/gallery/2017">2017</a>
          </li>
          <li>
            <a href="/gallery/2018">2018</a>
          </li>
          <li>
            <a href="/gallery/2019">2019</a>
          </li>
          <li>
            <a class="active" href="/gallery/2020">2020</a>
          </li>
          <li>
            <a href="/gallery/2021">2021</a>
          </li>
          <li>
            <a href="/gallery/2022">2022</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Isotope Content-->
    <div class="col-lg-12 text-left">
      <div class="range range-30 range-lg-40 range-xl-60">
        <div class="cell-xxs-4">
          <div class="grid-demonstration-item">
            <p>1790 photos</p>
          </div>
        </div>
        <div class="cell-xxs-4">
          <div class="grid-demonstration-item">
            <p></p>
          </div>
        </div>
        <div class="cell-xxs-4">
          <div class="grid-demonstration-item"></div>
        </div>
      </div>

      <div class="shell shell-wide" data-lightgallery="group">
        <div
          class="row isotope"
          data-isotope-layout="fitRows"
          data-isotope-group="gallery"
        >
          <!-- Photos start -->

          <!-- Photos end -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pagination-->
<section class="section-lg bg-white">
  <div class="shell">
    <nav class="pagination-wrap" style="margin-bottom: 30px">
      <ul class="pagination-custom 1">
        <li class="active"><span>1</span></li>
      </ul>
    </nav>
  </div>
</section>
{% endblock %}
