[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "==1.11"
"psycopg2" = "==2.7.3.2"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "==0.5.0"