{% extends "app/layout.html" %}

{% block content %}
      <!-- Breadcrumbs Section-->
      <section class="section breadcrumb-wrapper bg-primary">
        <div class="shell">
          <br /><br /><br />
          <h1>Log In/Register</h1>
          <br /><br /><br />
        </div>
      </section>
      <!-- Log In/Register Section-->
      <section class="section section-lg bg-white text-center">
        <div class="shell">
          <div class="range range-xs-center tabs-custom-wrap text-center">
            <div class="cell-sm-10 cell-md-8 cell-lg-4">
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-horizontal" id="tabs-1">
                <!-- Nav tabs-->
                <ul class="nav-custom nav-custom-tabs nav-custom-tabs-inline">
                  <li class="active"><a href="#tabs-1-1" data-toggle="tab">Login</a></li>
                  <li><a href="#tabs-1-2" data-toggle="tab">Registration</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="range range-xl range-xs-center">
            <div class="cell-sm-10 cell-md-8 cell-lg-4">
              <div class="tab-content text-left">
                <div class="tab-pane fade in active" id="tabs-1-1">
                  <!-- RD Login Form-->
                  <form class="rd-mailform text-left">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label form-label-outside" for="forms-login-name">Username or e-mail</label>
                      <input class="form-input" id="forms-login-name" type="text" name="name" data-constraints="@Required">
                    </div>
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label form-label-outside" for="forms-login-password">Password</label>
                      <input class="form-input" id="forms-login-password" type="password" name="password" data-constraints="@Required">
                    </div>
                    <ul class="group-md group-middle">
                      <li>
                        <button class="button button-primary" type="submit">Sign In</button>
                      </li>
                      <li>
                        <ul class="group-sm">
                          <li><a class="icon icon-md icon-circle icon-default fa-facebook" href="#"></a></li>
                          <li><a class="icon icon-md icon-circle icon-default fa-twitter" href="#"></a></li>
                        </ul>
                      </li>
                    </ul>
                  </form>
                </div>
                <div class="tab-pane fade" id="tabs-1-2">
                  <!-- RD Register Form-->
                  <form class="rd-mailform text-left">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label form-label-outside" for="forms-register-name">Username</label>
                      <input class="form-input" id="forms-register-name" type="text" name="name" data-constraints="@Required">
                    </div>
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label form-label-outside" for="forms-register-email">E-mail</label>
                      <input class="form-input" id="forms-register-email" type="email" name="email" data-constraints="@Email @Required">
                    </div>
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label form-label-outside" for="forms-register-password">Password</label>
                      <input class="form-input" id="forms-register-password" type="password" name="password" data-constraints="@Required">
                    </div>
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label form-label-outside" for="forms-register-confirm-password">Confirm Password</label>
                      <input class="form-input" id="forms-register-confirm-password" type="password" name="password" data-constraints="@Required">
                    </div>
                    <ul class="group-md group-middle">
                      <li>
                        <button class="button button-primary" type="submit">register</button>
                      </li>
                      <li>
                        <ul class="group-sm">
                          <li><a class="icon icon-md icon-circle icon-default fa-facebook" href="#"></a></li>
                          <li><a class="icon icon-md icon-circle icon-default fa-twitter" href="#"></a></li>
                        </ul>
                      </li>
                    </ul>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
{% endblock %}