{% extends "app/layout.html" %}

{% block content %}

      <!-- Breadcrumbs Section-->
      <section class="section breadcrumb-wrapper bg-primary">
        <div class="shell">
          <h1>Team Member Profile</h1>
          <ol class="breadcrumb-custom">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li>Team Member Profile
            </li>
          </ol>
        </div>
      </section>
      <!-- Our Team Section Minimal-->
      <section class="section section-lg bg-white">
        <div class="shell shell-wide">
          <div class="range range-md-middle range-40 team-member">
            <div class="cell-sm-6 cell-lg-4"><img class="img-round" src="images/team-03-510x510.jpg" alt="" width="510" height="510"/>
            </div>
            <div class="cell-sm-6 cell-lg-4">
              <div class="team-member-content">
                <h3 class="team-member-title">Helen Wallace</h3>
                <p class="team-member-cite">Communications Director</p>
                <p>Helen joined Charity in August 2013, bringing with her a wealth of skills gained through her work across promotion and establishing communications with other notable charities and NGOs that are our partners as well.</p>
                <ul class="team-member-contact">
                  <li>
                    <div class="unit unit-spacing-xs unit-xxs-horizontal">
                      <div class="unit-left"><span class="icon icon-md icon-secondary mdi mdi-phone"></span></div>
                      <div class="unit-body"><a href="callto:#">1-800-1234-567</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs unit-xxs-horizontal">
                      <div class="unit-left"><span class="icon icon-md icon-secondary mdi mdi-email-outline"></span></div>
                      <div class="unit-body"><a href="mailto:#">info@demolink.org</a></div>
                    </div>
                  </li>
                </ul>
                <ul class="inline-list-md">
                  <li><a class="icon icon-sm icon-default fa-facebook" href="#"></a></li>
                  <li><a class="icon icon-sm icon-default fa-twitter" href="#"></a></li>
                  <li><a class="icon icon-sm icon-default fa-instagram" href="#"></a></li>
                  <li><a class="icon icon-sm icon-default fa-google" href="#"></a></li>
                  <li><a class="icon icon-sm icon-default fa-pinterest-p" href="#"></a></li>
                  <li><a class="icon icon-sm icon-default fa-linkedin" href="#"></a></li>
                </ul><a class="button button-primary-outline" href="#">make an appointment</a>
              </div>
            </div>
            <div class="cell-lg-4">
              <div class="progress-linear">
                <div class="progress-header">
                  <div><span>Help &amp; Support</span></div>
                  <div><span class="text-bold progress-value">75</span></div>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </div>
              <div class="progress-linear">
                <div class="progress-header">
                  <div><span>Education</span></div>
                  <div><span class="text-bold progress-value">50</span></div>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </div>
              <div class="progress-linear">
                <div class="progress-header">
                  <div><span>Medical Aid</span></div>
                  <div><span class="text-bold progress-value">25</span></div>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </div>
              <div class="progress-linear">
                <div class="progress-header">
                  <div><span>Adoption</span></div>
                  <div><span class="text-bold progress-value">25</span></div>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Helen’s Projects Section-->
      <section class="section section-lg bg-gray-2">
        <div class="shell shell-wide">
          <h2 class="text-center">Race Records</h2>
          <div class="range range-xs-center text-left">
            <div class="cell-sm-10 cell-lg-8">
              <div class="table-custom-wrap">
                <table class="table-custom table-fixed table-hover-rows">
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Benjamin:</td>
                    <td>Turner</td>
                    <td>@benjaminturner</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Lauren</td>
                    <td>Wood</td>
                    <td>@laurenwood</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Bryan</td>
                    <td>Vargas</td>
                    <td>@bryanvargas</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Arthur</td>
                    <td>Henderson</td>
                    <td>@arthurhenderson</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
            </div>
      </section>
      <!-- Testimonials-->
      <section class="section section-lg bg-white">
        <div class="shell shell-wide">
          <h2 class="text-center">Testimonials</h2>
          <div class="range range-30">
            <!-- Quote Big-->
            <div class="cell-sm-6 cell-md-4">
              <div class="quote-big">
                <div class="quote-big-icon"><span class="icon mdi mdi-format-quote"></span></div>
                <div class="quote-big-inner">
                  <p class="quote-big-text">Charity has been a partner charity to Women V Cancer for over 4 years and they have always been delighted with Action for Charity’s professional event management. They helped us during our cooperation. </p>
                  <div class="quote-info">
                    <div class="unit unit-spacing-xs unit-xxs-horizontal unit-xxs-middle">
                      <div class="unit-left"><img class="img-circle" src="images/testimonials-01-70x70.jpg" alt="" width="70" height="70"/>
                      </div>
                      <div class="unit-body">
                        <p class="quote-info-name">Harry Wilson</p>
                        <p class="quote-info-cite">CEO, iStep Studios</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Quote Big-->
            <div class="cell-sm-6 cell-md-4">
              <div class="quote-big">
                <div class="quote-big-icon"><span class="icon mdi mdi-format-quote"></span></div>
                <div class="quote-big-inner">
                  <p class="quote-big-text">This organization does what a lot of other charities should have been doing years ago. It is great that they exist. Their volunteers not just give necessary resources and assistance, they give hope to everyone. </p>
                  <div class="quote-info">
                    <div class="unit unit-spacing-xs unit-xxs-horizontal unit-xxs-middle">
                      <div class="unit-left"><img class="img-circle" src="images/testimonials-02-70x70.jpg" alt="" width="70" height="70"/>
                      </div>
                      <div class="unit-body">
                        <p class="quote-info-name">Pamela Stevens</p>
                        <p class="quote-info-cite">Freelance photographer</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Quote Big-->
            <div class="cell-sm-6 cell-md-4">
              <div class="quote-big">
                <div class="quote-big-icon"><span class="icon mdi mdi-format-quote"></span></div>
                <div class="quote-big-inner">
                  <p class="quote-big-text">The dedication and the charity work volunteers of Charity are doing worldwide can’t be underestimated. We cooperated with them a year ago during a conflict in Syria, and they offered great assistance.</p>
                  <div class="quote-info">
                    <div class="unit unit-spacing-xs unit-xxs-horizontal unit-xxs-middle">
                      <div class="unit-left"><img class="img-circle" src="images/testimonials-03-70x70.jpg" alt="" width="70" height="70"/>
                      </div>
                      <div class="unit-body">
                        <p class="quote-info-name">Jonathan Guerrero</p>
                        <p class="quote-info-cite">Regional manager, LCP Ltd.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}