{% extends 'app/layout.html' %}

{% block content %}

{% load i18n %}
<section class="section breadcrumb-wrapper bg-primary">
        <div class="shell">
          <br /><br /><br />
          <h1>Change Password</h1>
          <br /><br /><br />
        </div>
      </section>
    <section class="section section-lg bg-white text-center">
        <div class="shell">
          <div class="range range-xl range-xs-center">
            <div class="cell-sm-10 cell-md-8 cell-lg-6">
              <div class="tab-content text-left">
                <div style="text-align:right">
    <form method="post">{% csrf_token %}
        <div>
            {{ form.email.errors }}
            <label for="id_email">{% trans 'Email address:' %}</label>
            {{ form.email }}

        <input type="submit" value="{% trans 'Reset my password' %}" />
            </div>
    </form>
</div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}