{% extends 'app/layout.html' %}

{% block content %}
<section class="section breadcrumb-wrapper bg-primary">
        <div class="shell">
          <br /><br /><br />
          <h1>Change Password</h1>
          <br /><br /><br />
        </div>
      </section>
    <section class="section section-lg bg-white text-center">
        <div class="shell">
          <div class="range range-xl range-xs-center">
            <div class="cell-sm-10 cell-md-8 cell-lg-4">
              <div class="tab-content text-left">
                <div style="text-align:left">
  <p>
    Your password has been set. You may go ahead and <br><a href="{% url 'login' %}">sign in</a> now.
  </p>

                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}