{% extends "app/layout.html" %}

{% block content %}

<!-- Breadcrumbs Section-->
      <section class="section breadcrumb-wrapper bg-primary">
        <div class="shell">
          <h1>Prize List</h1>

        </div>
      </section>

<!-- Main section -->
<section class="section-lg bg-white text-center">
        <div class="shell">
          <div class="range range-xs-center">
            <div class="cell-sm-10 cell-lg-8">
              <div class="table-custom-wrap">
                <table style="text-align:center" class="table-custom table-fixed table-primary">
                  <tr>
                    <th style="width:28%">Prize Category</th>
                    <th style="text-align:center">5K</th>
                    <th style="text-align:center">10K</th>
                    <th style="text-align:center">15K</th>
                  </tr>
                  <tr>
                    <td style="background-color:lightgray"><b>Junior Male (under 18)</b></td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td style="background-color:lightgray"><b>Junior Female (under 18)</b></td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td style="background-color:lightgray"><b>Senior Male (18-34)</b></td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td style="background-color:lightgray"><b>Senior Female (18-34)</b></td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td style="background-color:lightgray"><b>Veteran Male (40-49)</b></td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td style="background-color:lightgray"><b>Veteran Female (40-49)</b></td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td style="background-color:lightgray"><b>Over 50 Male</b></td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td style="background-color:lightgray"><b>Over 45 Female</b></td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                </table>

              </div>

              <div class="table-custom-wrap">
                <table style="text-align:center" class="table-custom table-fixed table-primary">
                    <tr>
                      <th style="width:28%">If applicable</th>
                      <th style="text-align:center">5K</th>
                      <th style="text-align:center">10K</th>
                      <th style="text-align:center">15K</th>
                    </tr>
                    <tr>
                      <td style="background-color:lightgray"><b>Male course record</b></td>
                      <td>Course Record</td>
                      <td>Course Record</td>
                      <td>Course Record</td>
                    </tr>
                    <tr>
                      <td style="background-color:lightgray"><b>Female course record<sup style="color:red">&nbsp;New</sup></b></td>
                      <td>Course Record</td>
                      <td>Course Record</td>
                      <td>Course Record</td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>


{% endblock %}