{% extends "app/layout.html" %}

{% block content %}

<!-- Breadcrumbs Section-->
      <section class="section breadcrumb-wrapper bg-primary">
        <div class="shell">
          <h1>Prize List</h1>

        </div>
      </section>

<!-- Main section -->
<section class="section-lg bg-white text-center">
        <div class="shell">
          <div class="range range-xs-center">
            <div class="cell-sm-10 cell-lg-8">
              <div class="table-custom-wrap">
                <table class="table-custom table-fixed table-primary">
                  <tr>
                    <th style="width:28%">Prize Category</th>
                    <th>5K</th>
                    <th>10K</th>
                    <th>15K</th>
                  </tr>
                  <tr>
                    <td>All categories</td>
                    <td>Course Record</td>
                    <td>Course Record</td>
                    <td>Course Record</td>
                  </tr>
                  <tr>
                    <td>Junior Male (under 18)</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td>Junior Female (under 18)</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td>Senior Male (18-34)</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td>Senior Female (18-34)</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td>Veteran Male (40-49)</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td>Veteran Female (40-49)</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td>Over 50 Male</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                  <tr>
                    <td>Over 45 Female</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                    <td>1st Place</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>


{% endblock %}