{% extends "app/layout.html" %} {% block head %}
<style>
  p {
    font-size: 16px;
  }

  li {
    margin-left: 30px;
    list-style-type: disc;
    line-height: 30px;
  }

  ul {
    margin-top: 20px;
  }
</style>
{% endblock %} {% block content %}

<!-- Breadcrumbs Section-->
<section class="section breadcrumb-wrapper bg-primary">
  <div class="shell">
    <h1>
      Chiltern Chase Pre-Race Instructions and participant code of conduct
    </h1>
    <br /><br />
  </div>
</section>

<section class="section-lg bg-white text-left">
  <div class="shell">
    <div class="range range-xs-center">
      <div class="cell-sm-10 cell-lg-8">
        <br />

        <p>
          Here are the pre-race instructions. Please take time to read all the
          instructions as they are essential for everyone’s safety.
        </p>

        <p style="color: red">
          It is important to understand that all runners accept that they have
          entered and decided to participate in the race at their own risk and
          that the organisers and sponsors will in no way be held responsible
          for any personal injury including Covid related illness, or loss or
          damage to property before, during or after the event.
        </p>
        <p style="color: red">The Committee of the Chiltern Chase</p>

        <h4>Pre-event: COVID-19 Participant Code of Conduct</h4>

        <p>
          Outdoor activities and outdoor sport are consistently shown to be low
          risk from a COVID-19 perspective and running events play an important
          role in improving the health of the nation. If you observe and respect
          the event rules, social distancing and hygiene measures put in place
          by the event organiser risks to you and others will be kept to a
          minimum.
        </p>

        <p>
          Please ensure that you read and observe this code of conduct to ensure
          a safe and enjoyable event for everyone.
        </p>
        <p>
          You must undertake a self-assessment for COVID-19 symptoms. Do not
          travel to the event if you are showing any symptoms of COVID-19.
          No-one should leave home to participate in sport if they, or someone
          they live with, has symptoms of COVID-19 currently recognised as any
          of the following.
        </p>
        <ul>
          <li>A high temperature</li>
          <li>A new, continuous cough</li>
          <li>A loss of, or change to, their sense of smell or taste</li>
          <li>A headache or cold like symptoms</li>
        </ul>
        <p>
          Should you report or demonstrate any such symptoms, you must follow
          NHS and PHE guidance on self-isolation.
        </p>

        <h4>On the day safety guidance</h4>
        <ul>
          <li>
            Please consider wearing a face covering pre and post-race (i.e.,
            before and after entering the field of competition).
          </li>
          <li>
            You must scan the venue QR code provided by the race organiser using
            the NHS Test & Trace App on arrival.
          </li>
          <li>
            Do your homework – make sure you are aware of and understand the
            pre-race briefing information offered by your event.
          </li>
          <li>
            Come ready to run - minimise your interaction with race staff,
            volunteers and participants by being as self-sufficient as possible.
          </li>
          <li>
            Under no circumstances swap your number or give your place to
            another participant
          </li>
          <li>Be respectful to volunteers and participants.</li>
          <li>Observe social distancing wherever possible.</li>
          <li>
            Carefully consider your travel plans. Walk or cycle if possible.
          </li>
          <li>
            Car sharing is not permitted with someone from outside your
            household or your support bubble.
          </li>
          <li>
            Be self-sufficient - be prepared to bring your own water, food and
            carry it with you during the race and please dispose of rubbish
            responsibly.
          </li>
          <li>Be aware of your personal hygiene e.g., avoid spitting etc</li>
          <li>
            Be mindful of your surroundings and impact on other participants,
            volunteers and the public etc. Do not run with or carry children in
            the race.
          </li>
          <li>Bring your own hand sanitizer.</li>
          <li>
            If you experience COVID-19 symptoms soon after the event, you must
            report this using the NHS Test & Trace App - https://covid19.nhs.uk.
          </li>
        </ul>

        <p>
          If you have any enquiries regarding the race, please email
          info@chilternchase.com
        </p>
        <h4>Arrival at event</h4>
        <p>
          Please put on your race number and timing chip before leaving the
          house.
        </p>

        <p>
          There will be plenty of parking available in the field “above” the
          Common please follow the signage and the directions given by our
          marshals.
        </p>
        <p>
          Please do not congregate near the start line and use all the available
          space on The Common to socially distance.
        </p>
        <p>
          To ensure a safe event we will stagger the start times with runners of
          30 at a time departing approximately every 60 seconds. Runners can
          assemble from 10 minutes before their race start time in the nearest
          available holding pen behind the start line. There will be holding
          pens of 30 people per pen and runners will be shepherded into each pen
          as and when the forward pens are emptied. We would appreciate if
          slower runners keep further back to let the faster runners go first.
        </p>

        <p>
          The start times of your race are below (these times may vary slightly
          due to the staggered starts):
        </p>
        <ul>
          <li>15K 10.00 AM</li>
          <li>5K 10.05 AM</li>
          <li>10K 10.10 AM</li>
        </ul>
        <p>
          Do not be concerned about race timing as the event is chip timed, the
          race begins when you cross the start line and activate the timing
          mats.
        </p>
        <p>
          There are gentlemen’s and ladies’ toilets on the common, please be
          respectful and do not use hedges and gardens.
        </p>
        <p>
          Please listen to Marcus our Master of Ceremonies who will provide
          continual announcements and advice as to how to stay safe during the
          event.
        </p>
        <h4>Warm Up</h4>
        <p>
          Unfortunately, due to the race staggered start times there will be no
          warmup this year.
        </p>

        <h4>Bag Drop Off</h4>
        <p>There will be NO bag drop available to avoid contact at the race.</p>
        <h4>Spectators</h4>
        <p>Unfortunately, we cannot allow any spectators this year.</p>
        <h4>During the race</h4>
        <p>
          Maintain your distance from other runners. If you need to pass them,
          wait for the appropriate opportunity where there is space and overtake
          as quickly as possible. The runner who is being passed should slow
          down to help facilitate the overtake.
        </p>
        <p>
          There are 3 water stations on the course, please help yourself to
          water volunteers will not be handing out water.
        </p>
        <p>
          There are marshals at key points on the course who will ensure you are
          on course and offer any assistance you may need.
        </p>
        <p>Make sure you have studied the route prior to your run.</p>
        <p>No headphones or dogs are allowed</p>
        <h4>Finish</h4>
        <p>
          On crossing the finish line, we request that runners remove their own
          running chip (from the shoe) and return it to the chip recycling bin
          located at the finish line. We realise that this may not always be
          possible and so there will be volunteers to help with removal if
          needed with the runner placing a foot on a stool.
        </p>
        <p>
          Each finisher will receive a wooden sustainable medal which will be
          placed on a table by the pavilion for each runner to collect
          themselves.
        </p>
        <p>
          Once you have collected your medal, please vacate the area and
          disperse as quickly as possible.
        </p>
        <p>
          There will be a basket of honey goodies kindly donated by one of our
          sponsors Rowse for the male and female winners of the 5K, 10K and 15K
          races.
        </p>
        <p>
          We also have 12 sports nutrition runner-up award vouchers at £25 each
          for the second fastest male and female for each race kindly donated by
          Herbalife Nutrition.
        </p>
        <p>
          Please listen for your name to be announced by Marcus after you have
          crossed the finish line and you can then collect the basket/voucher
          which will be found at the prize station which will be located near
          the medals.
        </p>
        <p>
          Sadly, we are unable to present any prizes on the day at this year’s
          event. If you believe you are a winner, can we ask that you to go to
          the prize station to collect your prize. Prizes will be for the winner
          (male and female) for each race over the 4 age groups.
        </p>
        <p>
          A full list of results will be available online at
          <a href="www.chilternchase.org.uk">www.chilternchase.org.uk</a>
        </p>
        <p>
          Despite these new restrictions we cannot wait to see you and most
          importantly enjoy the race!
        </p>
        <br />
        <p><b>The Chiltern Chase Committee.</b></p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
