{% extends "app/layout.html" %} {% block content %}

<!-- Breadcrumbs Section-->
<section class="section breadcrumb-wrapper bg-primary">
  <div class="shell">
    <h1>Race Declaration 2021</h1>
    <br /><br />
  </div>
</section>

<section class="section section-lg bg-gray-2">
  <div class="shell shell-wide">
    <div class="range range-60 range-md-center">
      <div class="cell-lg-8 cell-xl-6">
        <div class="single-blog">
          <div class="range range-60 range-xl-120">Test</div>
        </div>
      </div>

      
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
