{% extends "app/layout.html" %}

{% block content %}
      <!-- Breadcrumbs Section-->
      <section class="section breadcrumb-wrapper bg-primary">
        <div class="shell">
          <h1>Race details</h1>
        </div>
      </section>
      <!-- Join Our Team-->
      <section class="section section-lg bg-white">
        <div class="shell shell-wide">
          <div class="range">
            <div class="cell-md-6">
              <!--<img src="../../static/app/content/images/start-line.jpg" alt="" width="870" height="490"/>-->
                <iframe src="https://player.vimeo.com/video/269182629" width="100%" height="430" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="cell-md-6">
              <div class="block-md">
                <h1>Join us next year!</h1>
                  <h2>Race day: Sunday 9th June</h2>
                  <h2>Start time: 10.00am</h2>
                <p>The Chiltern Chase is a multi-terrain run, covering 5km, 10km or 15km. This popular course is based around the beautiful South Oxfordshire village of Ewelme. Runners enjoy picturesque bridleways and rugged trails of the Chiltern Way, accompanied by red kites overhead and occasional hare and deer. Running for over 11 years, The Chiltern Chase has raised an incredible £77,000 for charity, and is managed by an experienced committee and supportive marshals. Refreshments are provided by Ewelme School PTA, so join us in a great day out for both runners and supporters alike.</p>
                  <a class="button button-primary" target="_blank" href="https://register.primoevents.com/ps/event/ChilternChase15K10K5K2019">Register now</a>
              </div>
                <div class="block-md" style="margin-top:20px">
                    <p>You will be able to pay on the day, however we can only accept payment by cash or cheque.</p>
                </div>
            </div>
          </div>
        </div>
      </section>

    <section class="section section-lg bg-gray-2">
        <div class="shell shell-wide">
          <div class="range range-40">
            <!-- Icon Gradient Block-->
            <div class="cell-sm-4">
              <div class="icon-gradient-block wow fadeInUp" data-wow-delay="0.1s">
                <div class="icon-gradient-item"><span class="icon mdi mdi-run"></span></div>
                <h4 style="margin-bottom:15px">10K Route</h4>
                  <ul class="list list-marked">
                        <li>The 10k run starts on road on a slight incline, it soon descends then levels out.</li>
                        <li>The first hill starts at about 1.5km and climbs steadily for about 0.25km</li>
                        <li>At the top of the climb you turn off the road onto a bridle way that takes you through a small copse then across the edge of a field before entering another copse</li>
                        <li>The course dips down to the 3k marker & then climbs gently back onto a country road which descends gently</li>
                        <li>Just before the 5k point there is sharp turn to the right & you enter an uphill section through a beech wood</li>
                        <li>Exiting the wood the course turns left onto a gravel track around the edge of a field before turning right up a short hill just before the 7k mark</li>
                        <li>The course now descends gently on a gravel track before changing to a narrow single track section</li>
                        <li>At the 8k point there is narrow gateway followed by a short field section which brings you back into Ewelme</li>
                        <li>The last 1.5km of the course is via lanes & ultimately the main street of Ewelme before leading back to the finish on the Common</></li>
                  </ul>
              </div>
            </div>
            <!-- Icon Gradient Block-->
            <div class="cell-sm-4">
              <div class="icon-gradient-block wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon-gradient-item"><span class="icon mdi mdi-run"></span></div>
                <h4 style="margin-bottom:15px">5K Route</h4>
                  <ul class="list list-marked">
                  <li>The 5k race starts in the same place as the 10k race & follows the same route for the first 0.5km</li>
                  <li>It then turns left & remains on road for about another km</li>
                  <li>It then turns left onto an off road section before joining the 10k route just before the 7k marker (2k mark for the 5k race)</li>
                  <li>The rest of the course is the same as the 10k finishing at the same place on Ewelme Common</li>
                </ul>
              </div>
            </div>
            <!-- Icon Gradient Block-->
            <div class="cell-sm-4">
              <div class="icon-gradient-block wow fadeInUp" data-wow-delay="0.3s">
                <div class="icon-gradient-item"><span class="icon mdi mdi-run"></span></div>
                <h4 style="margin-bottom:15px">15K Route</h4>
                  <ul class="list list-marked">
                    <li>The 15K race start with the 10K course followed immediately by the 5K course</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </section>


    <section class="section section-lg bg-white">
        <div class="shell shell-wide" data-lightgallery="group">
          <div class="row">

            <!-- Isotope Content-->
            <div class="col-lg-12">
              <div class="row isotope" data-isotope-layout="fitRows" data-isotope-group="gallery">

                <div class="col-xs-12 col-sm-6 col-lg-3 isotope-item" data-filter="Type 1">
                  <div class="gallery-item-wrap"><a class="gallery-item" href="../../static/app/content/images/5k-map.png" data-lightgallery="item"><img src="../../static/app/content/images/5k-map.png" alt="" width="570" height="380"/></a>
                    <div class="gallery-item-content">
                      <div class="range range-xs-middle range-10">
                          <h5>5K Map view</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 isotope-item" data-filter="Type 1">
                  <div class="gallery-item-wrap"><a class="gallery-item" href="../../static/app/content/images/5k-satellite.png" data-lightgallery="item"><img src="../../static/app/content/images/5k-satellite.png" alt="" width="570" height="380"/></a>
                    <div class="gallery-item-content">
                      <div class="range range-xs-middle range-10">
                          <h5>5K Satellite view</h5>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 isotope-item" data-filter="Type 1">
                  <div class="gallery-item-wrap"><a class="gallery-item" href="../../static/app/content/images/10k-map.png" data-lightgallery="item"><img src="../../static/app/content/images/10k-map.png" alt="" width="570" height="380"/></a>
                    <div class="gallery-item-content">
                       <div class="range range-xs-middle range-10">
                          <h5>10K Map view</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 isotope-item" data-filter="Type 2">
                  <div class="gallery-item-wrap"><a class="gallery-item" href="../../static/app/content/images/10k-satellite.png" data-lightgallery="item"><img src="../../static/app/content/images/10k-satellite.png" alt="" width="570" height="380"/></a>
                    <div class="gallery-item-content">
                     <div class="range range-xs-middle range-10">
                          <h5>10K Satellite view</h5>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>

     
{% endblock %}