
{% extends "app/layout.html" %}

{% block content %}

          <!-- Breadcrumbs Section-->
      <section class="section breadcrumb-wrapper bg-primary">
        <div class="shell">
          <h1>Travel Information</h1>
        </div>
      </section>
<!-- Horizontal Tabs Section-->
      <section class="section section-lg bg-white text-center">
        <div class="shell">
          <div class="range range-lg range-xs-center tabs-custom-wrap text-left">
            <div class="cell-sm-10 cell-lg-8">
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-horizontal" id="tabs-1">
                <!-- Nav tabs-->
                <ul class="nav-custom nav-custom-tabs style="text-align:center">
                  <li class="active"><a href="#tabs-1-1" data-toggle="tab">By car</a><a href="#tabs-1-1" data-toggle="tab"><img style="height:75px" src="../../static/app/content/images/bycar.jpg" alt="By car"></a></li>
                  <li><a href="#tabs-1-2" data-toggle="tab">By train</a><a href="#tabs-1-2" data-toggle="tab"><img style="height:75px" src="../../static/app/content/images/bytrain.jpg" alt="By train"></a></li>
                  <li><a href="#tabs-1-3" data-toggle="tab">Public Transport</a><a href="#tabs-1-3" data-toggle="tab"><img style="height:75px" src="../../static/app/content/images/bybus.jpg" alt="By public transport"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="range range-lg range-xs-center">
            <div class="cell-sm-10 cell-lg-8">
              <div class="tab-content text-left">
                <div class="tab-pane fade in active" id="tabs-1-1">
                  <p>For Satellite Navigation: Use Post Code OX10 6HQ (The postcode may take you outside Ewelme School. There will be blue signs to guide you to the car park from there.)</p>
                  <p>From M40 - distance: 6 miles, Time: 20mins</p>
                    <h4 style="margin-bottom:10px;margin-top:20px">Directions</h4>
                    <ul style="list-style:circle;margin-left:15px">
                        <li>Exit M40 Junction 6</li>
                        <li>Head towards Watlington on the B4009</li>
                        <li>Carry on Straight into Watlington until you reach T Junction</li>
                        <li>Turn right heading towards Benson. Stay on this road</li>
                        <li>Drive through Village of Britwell Salome (+/- 1 Mile)</li>
                        <li>Continue on B4009 (1.5 Miles)</li>
                        <li>Road makes a sharp right hand drive past 1st junction on LHS signposted Ewelme(0.2 Miles). Take next left to Ewelme (+/- 1/2 mile)</li>
                        <li>Follow this road into Ewelme. At junction go straight across over small bridge and bear left through RAF Benson. (+/- 1 mile)</li>
                        <li>Road bends to left, follow up the hill and take the next left signposted Ewelme (+/= 1 mile)</li>
                        <li>Take quick left again and follow road down and up dip until car park on RHS (+/- 1mile)</li>
                        <li>PLEASE DRIVE SLOWLY ALONG THIS ROAD – VERY NARROW</li>
                    </ul>
                    <p><b>We ask runners to kindly not park in the village. Please use only the allocated car park, there will be plenty of space and there are marshals who will assist with parking.</b></p>
                </div>
                <div class="tab-pane fade" id="tabs-1-2">

                    <p>The nearest station is Cholsey, Oxfordshire. You will need a taxi to Ewelme, which you will have to pre-order.</li>

                    <h4 style="margin-bottom:10px;margin-top:20px">Suggested taxi firms</h4>
                    <ul style="list-style:circle;margin-left:15px">
                        <li>Say Cars, Benson - <b>01491 835555</b></li>
                        <li>Raf Cabs, Benson - <b>01491 825121</b></li>
                        <li>Benson Executive Cars, Benson - <b>01491 825121</b></li>
                        <li>BNM Private Hire, Watlington - <b>01491 612215</b></li>
                        <li>Apple Cabs, Wallingford - <b>07809 363681</b></li>
                    </ul>

                </div>
                <div class="tab-pane fade" id="tabs-1-3">
                  <p>There is no public transport to Ewelme Village.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}